/* ===========================
--- Intro
============================ */

.intro {
	width:100%;
	position:relative;
	padding:0;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}


/* ====  slider ==== */




}

/* ===========================
--- Intro - home video
============================ */

.morphext > span {
	display: none;
}

.morphext > .animated {
    display: inline-block;
}

#intro.home-video { 
	position: relative; 
	margin: 0 auto; 
	text-align: center;
	height: 0;
	padding-top: 20%;
	padding-bottom: 30%;
	position: relative;
	overflow: hidden;
	
}
#intro.home-video .homevideo-container { height: 100%; width: 100%; position: absolute; background-size: cover; }

#intro.home-video .overlay { 
	position: relative; 
	height: 100%; 
	z-index: 2; 
	padding: 20% 0;

}

#intro.home-video .home-video-wrapper {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.bs-video {
	height: 0;
	padding-top: 25px;
	padding-bottom: 67.5%;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}
 
.bs-video.widescreen {
	padding-bottom: 57.25%;
}
 
.bs-video.vimeo {
	padding-top: 0;
}

.bs-video embed, .bs-video iframe, .bs-video object, .bs-video video {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.video-caption h1 {
	text-transform: uppercase;
}



/* --- inner featured bg --- */







/* --- video post format --- */
.bs-video {
	height: 0;
	padding-top: 25px;
	padding-bottom: 67.5%;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}
 
.bs-video.widescreen {
	padding-bottom: 57.25%;
}
 
.bs-video.vimeo {
	padding-top: 0;
}

.bs-video embed, .bs-video iframe, .bs-video object, .bs-video video {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}



	
/* ===========================
--- Video bg
============================ */

#section-video { 
	margin:0;
	height: 300px; 
	background-attachment: fixed !important; 
	background-size: cover !important; 
	color: #fff; 
	position: relative; 
	margin: 0 auto; 
	text-align: center;
}
#section-video .video-container { height: 100%; width: 100%; position: absolute; z-index: 1; background-size: cover; }

#section-video .overlay { 
	position: relative; 
	height: 100%; 
	z-index: 2; 
	padding: 60px 0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGD4z0AswK4SAFXuAf8EPy+xAAAAAElFTkSuQmCC);
}

/* video icon */
.video-icon {
	margin-top:45px;
}
.video-icon a {
	display: block;
	color: #fff;
}
.video-icon a:focus {
	outline:0;
	color: #fff;
}

.video-icon a:hover{
	color: #fff;
}
.video-icon a i.icon-circled {
	font-size: 40px;
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 50%;
	background: rgba(0,0,0,.5);
}




@media(min-width:767px) {

    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
	
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
    }
	

    .intro-text {
        font-size: 25px;
    }


}
@media (max-width:768px) {
	#navigation {
		padding: 20px 0;
	}
	.site-logo{
		margin: 0 0 0 30px;
		float:none;
	}
	.navbar-custom ul.nav li a {
		color: #eee;
	}
	.navbar-custom ul.nav ul.dropdown-menu li {
		border-bottom: 1px solid #aaa;

	}
	.navbar-header {
		margin-top:-40px;
		padding:0;
	}
	.navbar-header button {
		background: #111;
	}
	
	.navbar-header button.navbar-toggle {
		padding: 4px 15px;
		font-size: 14px;
		color: #fff;
	}
	
	.navbar-custom .nav {
		background: #444;
	}
	
	.service-box {
		margin-bottom: 50px;
	}
	
	.team-wrap {
		margin-bottom: 30px;
	}
	
	form#contact-form {
		margin-bottom: 50px;
	}
	
	.xs-marginbot-20 {
		margin-bottom: 20px;
	}

}

@media (max-width:480px) {

	.navbar-custom .nav.navbar-nav {
    background-color: rgba(255,255,255,.4);
	}
	
	.navbar.navbar-custom.navbar-fixed-top {
		margin-bottom: 30px;
	}
	
	.tp-banner-container {
		padding-top:40px;
	}

	.tp-caption .page-scroll a.btn-circle {
		width: 40px;
		height: 40px;
		margin-top: 10px;
		padding: 7px 0;
		border: 2px solid #fff;
		border-radius: 50%;
		font-size: 20px;
	}
	
}